 

<br>
<br>
<% if !logged_in? %>
<div style="text-align:center;" >
  <h2> To get products from Bloomingdales.com </h2>
  <div style="display:inline-block;">
  <h3> Log In </h3>
  <%= render template: "sessions/new" %>
  </div>
 
  <div style="display:inline-block;">
  <h3> Sign Up </h3>
  <%= render template: "users/new" %>
  </div>
</div>
<% else  %>


<h1> Recieved <%= current_user.products.count %> Products from Bloomingdales.com </h1>
<h3> <a ui-sref="delete_all"> Delete Search </a>  </h3>

<div >
<div ng-controller="ProductsCtrl" >
<h2> Choose the type of Product to query from the Mens section. </h2>

<%= form_tag( 'get_products', :method => :get ) %>
 <%= select_tag :type, options_for_select(["jeans","coats-jackets","suits-tux","belts","dress-shoes","sneakers","sweaters","bags","watches"])  %>

 <br>
<button ng-click="get_updates()" type="submit">Submit</button>
 </form>
<br>
<br>
<br>
  <button  class="btn-sm btn-primary" id="back" ng-click="backPage(<%= current_user.products.count %>)" style="visibility:hidden;" type="button">Back page</button>

    <button class="btn-sm btn-primary" id="next" ng-click="nextPage(<%= current_user.products.count %>)" type="button">Next page</button>

<div ui-view="products">
<div id="products" ng-repeat="user_product in user_products">
<img ng-src="{{user_product.image.image.url}}"> <br>
BRAND: {{user_product.brand}} <br>
DESCRIPTION: {{user_product.description}} <br>
PRICE: {{user_product.price}} 
<br>
JSON_OBJECT: {{user_product| json}}


</div>

</div>
</div>
</div>

  <br> 
</div>

<% end %>