 

<br>
<br>
<% if !logged_in? %>
<div style="text-align:center;">
  <h2> To get products from Bloomingdales.com </h2>
  <div style="display:inline-block;">
  <h3> Log In </h3>
  <%= render template: "sessions/new" %>
  </div>
 
  <div style="display:inline-block;">
  <h3> Sign Up </h3>
  <%= render template: "users/new" %>
  </div>
</div>
<% else  %>
<h2> Choose the type of Product to query from the Mens section. </h2>
<%= form_tag( 'get_products', :method => :get ) %>
 <%= select_tag :type, options_for_select(["jeans","coats-jackets","suits-tux","belts","dress-shoes","sneakers","sweaters","bags","watches"])  %>
 <br>
 <%= submit_tag "Get From Bloomingdales", name: nil %>


<h3> <%= link_to "Destroy Search", {:controller => "products", :action => "destroy_all"} %> </h3>


<h1> Recieved <%= current_user.products.count %> Products from Bloomingdales.com </h1>
<% current_user.products.each do |product| %>
<br>
<br>
<div>
<%= image_tag product.image %> 
<br> image url: <%= product.original_image_url %>
<br>
	<%= product.brand %>
<br>
	<%= product.description %>
<br>

<% if product.sale_price == nil %>
	 <%= product.price %> 
<br>
<% else %>
	<p style="color:red"> On Sale: <%= product.sale_price %> </p>
<% end %>
</div>
<%= link_to "Destroy", product, method: :delete, data: { confirm: "You sure?" } %> 
<%= link_to "View Product", product_path(product.id) %> 
<%= link_to "Add Product to Collection", {:controller => "collections", :action => "add_to_collection", :product_id => product.id } %>

<div>
	<h3> Product as Json Object </h3>
	<%= product.to_json %>
</div>

<% end %>
<br>
<%= will_paginate @products %>
<% end %>