
<% if !logged_in? %>
  <div class="col-xs-12"  >
    <h2 style="text-align:center;"> To get products use the App please sign up. </h2>
    <div style="display:inline-block;">
      <h3> Log In </h3>
      <%= render template: "sessions/new" %>
    </div>
   
    <div style="display:inline-block;">
      <h3> Sign Up </h3>
      <%= render template: "users/new" %>
    </div>
  </div>
<% else  %>

<div>
  <div >
    <div ng-controller="ProductsCtrl"  class="col-xs-12">
      <h1>Pick your Product! </h1>
      <br>
      <div class="row">
      <div class="col-xs-8 col-md-6">
        <h3> Get Mens Items From Bloomingdales.com </h3>
          <div class="col-xs-12 col-md-8">
            <form>
              <div class="col-xs-4">
               <select ng-model="type"  ng-change="selectedType(type)">
                <option value="jeans">Jeans</option>
                <option value="coats-jackets">Coats & Jackets</option>
                <option value="suits-tux"> Suits & Tux</option>
                <option value="belts"> Belts</option>
                <option value="dress-shoes"> Dressshoes</option>
                <option value="sneakers">Sneakers</option>
                <option value="sweaters">Sweaters</option>
                <option value="bags">Bags</option>
                <option value="watches">Watches</option>
              </select>
              </div>

            <button ng-click="get_updates(); get_products_men()" type="button" class="btn btn-success";">Submit</button>  <button type="button" class="btn btn-danger"> <a ui-sref="delete_all"> Delete Search </a>  </button>
              
          </form>
          
          </div>
      </div>
    <div class="col-xs-8 col-md-6">
        <h3> Get Womens Items From Bloomingdales.com </h3>
          <div class="col-xs-12 col-md-8">
            <form>
              <div class="col-xs-4">
                <select ng-model="type"  ng-change="selectedType(type)">
                <option value="dresses">dresses</option>
                <option value="coats">Coats</option>
                <option value="womens-jeans"> Womens & Jeans</option>
                <option value="tops-tees">Tops & Tees</option>
                <option value="skirts">Skirts</option>
                <option value="active-workout">ActiveWear</option>
                <option value="womens-sweaters">Sweaters</option>
              </select>
              </div>
          
            <button ng-click="get_updates(); get_products_women()" type="button" class="btn btn-success";">Submit</button>  <button type="button" class="btn btn-danger"> <a ui-sref="delete_all"> Delete Search </a>  </button>
              
          </form>
          
          </div>
      </div>
      
    <br>
    <br>
    <br>

    <div style="text-align:center;">
      <div >
        <button style="display:inline-block;visibility:hidden;"  class="btn-sm btn-primary" id="back" ng-click="backPage(<%= current_user.products.length%>)" type="button">Back page</button>
          <div style="margin-left:30px;margin-right:30px;display:inline-block;visibility:hidden;" id="pages" >
            {{counter}} of {{page_max}}
          </div>
          <button style="display:inline-block;"class="btn-sm btn-primary" id="next" ng-click="nextPage(<%= current_user.products.length%>)" type="button">Next page</button>
      </div>
      </div>
    <br>

    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2" ui-view="products">
      <div class="row" >
       <h1 style="text-align:center;"> Found <% if @products.count == nil %> 0 <% else %> <%= @products.count %> <% end %> from Bloomingdales.com </h1>
        <div id="products" ng-repeat="user_product in user_products" ng-animate="app"class="app">
              <div class="col-xs-6  col-md-2" style="min-height:500px;display:inline-block;">
                <div><img class="img-responsive"ng-src="{{user_product.image.image.url}}" ></div>
                <p style="font-weight:bold;font-size:20px;">{{user_product.brand}}</p> 
                <p style="font-weight:italic;font-size:20px;"> {{user_product.description}} </p>
                <p style="font-weight:bold;font-size:15px;">{{user_product.price}} </p>
                <button type="button" ng-click="add_to_collection( user_product,<%= current_user.id%>)" class="btn btn-success"> Add to Collection </button>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>