
<h1 style="text-align:center;"> Welcome to Retail Scrape</h1>
<p style="text-align:center;"> The current features of this app consist of retreiving a variety of Products from Bloomingdales </p>
<div style="text-align:center;">
	<% if !logged_in? %>
	<div>
	  <div style="display:inline-block;">
		  <h3> Log In </h3>
		  <%= render template: "sessions/new" %>
	  </div>

	  

	  <div style="display:inline-block;">
	  	<h3> Sign Up </h3>
	  	<%= render template: "users/new" %>
	 </div>
	</div>
	 <% else %>
	 <div>
	 <% if current_user != nil &&  current_user.api_keys.blank? %>
		<h3> Start Here! </h3>
		<p> Create an Api Key for the API</p>
		<%= render template: "api_keys/new" %>
		<% end %>
		<h3> Then Start Scraping Products </h3>
  		<%= link_to "Get to Scraping", products_path%> 
  		
  	</div>
 	<% end %>
</div>

<div style="text-align:center">
	<h3 style="color:blue"> Access the API (http://api.retailscrape.blackvandal.com) </h3>
		<% if !logged_in? || !logged_in? && current_user.api_keys.blank? %>
			<p> Be sure to have already created your Api Keys </p>
		<% end %>
	
	<div>
		<% if current_user != nil %>
		<p> Api Keys:  </p>
			<% current_user.api_keys.each do |api_key| %>
				<%= api_key.access_token %>
				
				 <%= link_to "Destroy", api_key, method: :delete, data: { confirm: "You sure?" } %>
				 <br> 
			<% end %>
			<% if !current_user.api_keys.blank? %>
		<%= render template: "api_keys/new" %>
		<% end %>
		<% end %>
	</div>
	<p> Add the PostMan Chrome Extension to test the public Api </p>
	<p>  (https://chrome.google.com/webstore/detail/postman-rest-client/fdmmgilgnpjigdojojpjoooidkmcomcm/related?hl=en)</p>
</div>

<h3> Yours Truly, Merlin Jackson </h3>
<a href="http://linkedin.com/in/merlup"> Merlin's Linked In </a>
<br>
<a href="http://github.com/merlup"> Merlin's Github </a>
<br>
<a href="http://github.com/merlup/retailscrape">VISIT THE OPEN SOURCE REPO</a>

