<!DOCTYPE html>
<html>
  <head>
    <title>RetailScrape</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <body ng-app="RetailScrape" ng-contoller="MainCtrl"  class="view-slide">
   
     <% if flash[:warning] || flash[:notice] || flash[:danger] || flash[:success] %>
       <div class="warning" style="background-color:orange;">
       <br>
         <h3><%= flash[:warning] %>
        </div>
        <div class="notice" style="background-color:yellow;">
         <%= flash[:notice] %>
        </div>
        <div class="danger" style="background-color:red;">
         <%= flash[:danger] %>
        </div>
        <div class="success" style="background-color:green;">
         <%= flash[:success] %>
        </div>
      <% end %>
   
     <div ui-view="main">
       <%= render file: "app/views/layouts/_header"  %> 
      
    <%= yield %>
    </div>
  
  </body>
</html>
